In [39]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import os
import datetime
import numpy as np
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
%matplotlib inline

#import csv
scores_df=pd.read_csv("../resources/merged_df.csv")
scores_df

,Unnamed: 0,Competition Title,Competition Date,FIRST,LAST,Nation,StartNr,Rank,Qualification,Semifinal,...,Quali_Atempts_Tops,Quali_Attempts_Zones,semi_Tops,semi_Zones,semi_Atempts_Tops,semi_Attempts_Zones,Finals_Tops,Finals_Zones,Final_Atempts_Tops,Final_Attempts_Zones
0,0,European Youth Championships (B) - Brixen (ITA...,20 - 22 September 2019,Naile,MEIGNAN,FRA,15.0,1,6T7z99,3T4z55,...,9,9,3,4,5,5,3,4,8,9
1,1,European Youth Championships (B) - Brixen (ITA...,20 - 22 September 2019,Miriam,FOGU,ITA,27.0,2,4T8z814,3T4z55,...,8,4,3,4,5,5,2,4,2,7
2,2,European Youth Championships (B) - Brixen (ITA...,20 - 22 September 2019,Vanda,MICHALKOVA,SVK,48.0,3,6T7z89,3T3z43,...,8,9,3,3,4,3,2,3,2,3
3,3,European Youth Championships (B) - Brixen (ITA...,20 - 22 September 2019,Lola,SAUTIER,FRA,17.0,4,4T6z69,2T3z89,...,6,9,2,3,8,9,1,3,3,8
4,4,European Youth Championships (B) - Brixen (ITA...,20 - 22 September 2019,Polina,KULAGINA,RUS,39.0,5,4T6z611,3T4z76,...,6,1,3,4,7,6,1,3,4,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2428,5427,European Youth Cup (B) - Soure (POR) 2018,5 - 6 May 2018,solene,MOREAU,FRA,44.0,13,5T8z510,NaN,...,3,6,0,0,0,0,0,0,0,0
2429,5428,European Youth Cup (B) - Soure (POR) 2018,5 - 6 May 2018,Lucie,VAILLANT BULTEL,FRA,45.0,14,5T7z99,NaN,...,4,7,0,0,0,0,0,0,0,0
2430,5429,European Youth Cup (B) - Soure (POR) 2018,5 - 6 May 2018,Helena,WALTZ,GER,81.0,15,5T7z1111,NaN,...,5,7,0,0,0,0,0,0,0,0
2431,5430,European Youth Cup (B) - Soure (POR) 2018,5 - 6 May 2018,Marie,COLOT,BEL,10.0,16,5T6z98,NaN,...,0,5,0,0,0,0,0,0,0,0
2432,5431,European Youth Cup (B) - Soure (POR) 2018,5 - 6 May 2018,Ingrid,KINDLIHAGEN,NOR,137.0,17,5T6z1311,NaN,...,0,2,0,0,0,0,0,0,0,0

In [2]:
import pandas as pd
from sqlalchemy import create_engine
# Define the database file path
db_path = 'sqlite:///../Database/climbing.sqlite'
# Create a SQLAlchemy engine
engine = create_engine(db_path)
# Define the SQL query
query = 'SELECT * FROM climbing_table'
# Execute the SQL query and load the results into a pandas DataFrame
scores_df = pd.read_sql(query, engine)
# Print the first 5 rows of the DataFrame
print(scores_df.head())

   Unnamed: 0                                  Competition Title  \
0           0  European Youth Championships (B) - Brixen (ITA...
1           1  European Youth Championships (B) - Brixen (ITA...
2           2  European Youth Championships (B) - Brixen (ITA...
3           3  European Youth Championships (B) - Brixen (ITA...
4           4  European Youth Championships (B) - Brixen (ITA...

          Competition Date   FIRST        LAST Nation  StartNr  Rank  \
0  20  - 22 September 2019   Naile     MEIGNAN    FRA     15.0     1
1  20  - 22 September 2019  Miriam        FOGU    ITA     27.0     2
2  20  - 22 September 2019   Vanda  MICHALKOVA    SVK     48.0     3
3  20  - 22 September 2019    Lola     SAUTIER    FRA     17.0     4
4  20  - 22 September 2019  Polina    KULAGINA    RUS     39.0     5

  Qualification Semifinal  ... Quali_Atempts_Tops Quali_Attempts_Zones  \
0        6T7z99    3T4z55  ...                  9                    9
1       4T8z814    3T4z55  ...                  8                    4
2        6T7z89    3T3z43  ...                  8                    9
3        4T6z69    2T3z89  ...                  6                    9
4       4T6z611    3T4z76  ...                  6                    1

   semi_Tops  semi_Zones  semi_Atempts_Tops  semi_Attempts_Zones  Finals_Tops  \
0          3           4                  5                    5            3
1          3           4                  5                    5            2
2          3           3                  4                    3            2
3          2           3                  8                    9            1
4          3           4                  7                    6            1

   Finals_Zones  Final_Atempts_Tops  Final_Attempts_Zones
0             4                   8                     9
1             4                   2                     7
2             3                   2                     3
3             3                   3                     8
4             3                   4                     7

[5 rows x 24 columns]

In [3]:
scores_df['competitor_id'] = pd.factorize(scores_df['FIRST'] + '_' + scores_df['LAST'])[0] + 1

In [4]:
scores_df.columns

Index(['Unnamed: 0', 'Competition Title', 'Competition Date', 'FIRST', 'LAST',
       'Nation', 'StartNr', 'Rank', 'Qualification', 'Semifinal', 'Final',
       'Category', 'Quali_Tops', 'Quali_Zones', 'Quali_Atempts_Tops',
       'Quali_Attempts_Zones', 'semi_Tops', 'semi_Zones', 'semi_Atempts_Tops',
       'semi_Attempts_Zones', 'Finals_Tops', 'Finals_Zones',
       'Final_Atempts_Tops', 'Final_Attempts_Zones', 'competitor_id'],
      dtype='object')

In [5]:
scores_df=scores_df.drop(columns=["FIRST","LAST","Qualification","Semifinal","Final","Category","Unnamed: 0",'Competition Title'])
scores_df

,Competition Date,Nation,StartNr,Rank,Quali_Tops,Quali_Zones,Quali_Atempts_Tops,Quali_Attempts_Zones,semi_Tops,semi_Zones,semi_Atempts_Tops,semi_Attempts_Zones,Finals_Tops,Finals_Zones,Final_Atempts_Tops,Final_Attempts_Zones,competitor_id
0,20 - 22 September 2019,FRA,15.0,1,6,7,9,9,3,4,5,5,3,4,8,9,1
1,20 - 22 September 2019,ITA,27.0,2,4,8,8,4,3,4,5,5,2,4,2,7,2
2,20 - 22 September 2019,SVK,48.0,3,6,7,8,9,3,3,4,3,2,3,2,3,3
3,20 - 22 September 2019,FRA,17.0,4,4,6,6,9,2,3,8,9,1,3,3,8,4
4,20 - 22 September 2019,RUS,39.0,5,4,6,6,1,3,4,7,6,1,3,4,7,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2428,5 - 6 May 2018,FRA,44.0,13,1,2,3,6,0,0,0,0,0,0,0,0,923
2429,5 - 6 May 2018,FRA,45.0,14,1,2,4,7,0,0,0,0,0,0,0,0,924
2430,5 - 6 May 2018,GER,81.0,15,1,2,5,7,0,0,0,0,0,0,0,0,501
2431,5 - 6 May 2018,BEL,10.0,16,0,2,0,5,0,0,0,0,0,0,0,0,115
2432,5 - 6 May 2018,NOR,137.0,17,0,1,0,2,0,0,0,0,0,0,0,0,25

In [6]:
scores_df.nunique()

Competition Date          16
Nation                    63
StartNr                  544
Rank                      67
Quali_Tops                 9
Quali_Zones                9
Quali_Atempts_Tops        10
Quali_Attempts_Zones      22
semi_Tops                  5
semi_Zones                 5
semi_Atempts_Tops         10
semi_Attempts_Zones       18
Finals_Tops                5
Finals_Zones               5
Final_Atempts_Tops        10
Final_Attempts_Zones      19
competitor_id           1127
dtype: int64

In [7]:
scores_df["Competition Date"].value_counts()

11  - 12 May 2019               328
31 August - 2 September 2018    301
20  - 22 September 2019         282
25  - 26 May 2019               258
27  - 28 April 2019             241
2  - 3 June 2018                211
21  - 22 July 2018              193
1  - 4 November 2018            151
5  - 7 September 2019            91
7  - 11 November 2018            87
22  - 31 August 2019             59
15  - 17 June 2018               59
21  - 26 November 2018           55
9  - 16 August 2018              51
9  - 10 March 2019               49
5  - 6 May 2018                  17
Name: Competition Date, dtype: int64

In [8]:
scores_df["Nation"].value_counts()

ITA    161
FRA    150
AUT    122
BEL    114
GER    107
      ...
KGZ      3
RSA      2
PER      2
NEP      2
MEX      1
Name: Nation, Length: 63, dtype: int64

In [9]:
# nation_series = scores_df["Nation"].value_counts()
# nation_names = nation_series.index.tolist()

In [10]:
# #Create cutoff value for the countries
# nations_to _replace =[]

In [11]:
encoded_df = pd.get_dummies(scores_df, columns=["Nation"])
encoded_df['competition_id'] = pd.factorize(encoded_df["Competition Date"])[0] + 1
encoded_df

,Competition Date,StartNr,Rank,Quali_Tops,Quali_Zones,Quali_Atempts_Tops,Quali_Attempts_Zones,semi_Tops,semi_Zones,semi_Atempts_Tops,...,Nation_SUI,Nation_SVK,Nation_SWE,Nation_THA,Nation_TPE,Nation_TUR,Nation_UKR,Nation_USA,Nation_VEN,competition_id
0,20 - 22 September 2019,15.0,1,6,7,9,9,3,4,5,...,0,0,0,0,0,0,0,0,0,1
1,20 - 22 September 2019,27.0,2,4,8,8,4,3,4,5,...,0,0,0,0,0,0,0,0,0,1
2,20 - 22 September 2019,48.0,3,6,7,8,9,3,3,4,...,0,1,0,0,0,0,0,0,0,1
3,20 - 22 September 2019,17.0,4,4,6,6,9,2,3,8,...,0,0,0,0,0,0,0,0,0,1
4,20 - 22 September 2019,39.0,5,4,6,6,1,3,4,7,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2428,5 - 6 May 2018,44.0,13,1,2,3,6,0,0,0,...,0,0,0,0,0,0,0,0,0,16
2429,5 - 6 May 2018,45.0,14,1,2,4,7,0,0,0,...,0,0,0,0,0,0,0,0,0,16
2430,5 - 6 May 2018,81.0,15,1,2,5,7,0,0,0,...,0,0,0,0,0,0,0,0,0,16
2431,5 - 6 May 2018,10.0,16,0,2,0,5,0,0,0,...,0,0,0,0,0,0,0,0,0,16
2432,5 - 6 May 2018,137.0,17,0,1,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,16

In [12]:
encoded_df.dtypes

Competition Date     object
StartNr             float64
Rank                  int64
Quali_Tops            int64
Quali_Zones           int64
                     ...
Nation_TUR            uint8
Nation_UKR            uint8
Nation_USA            uint8
Nation_VEN            uint8
competition_id        int64
Length: 80, dtype: object

In [13]:
import re

def fix_date(date_string):
    regex_pattern = r"^(\d{1,2})\s-\s\d{1,2}\s(\w+)\s(\d{4})"
    match_obj = re.match(regex_pattern, date_string)

    if match_obj:
        output_str = f"{match_obj.group(1)} {match_obj.group(2)} {match_obj.group(3)}"
        print(output_str)
    else:
        print("No match found")
    return output_str

In [14]:
dates = encoded_df['Competition Date'].str.extractall(r"^(\d{1,2})\s*(-\s*(\d{1,2})\s+)?(\w+)\s+(\d{4})?")
dates = pd.DataFrame(dates)
dates = dates.reset_index().drop(columns=["match", "level_0",1,2]).reset_index()
dates = dates.drop(columns=["index"])
dates.columns=["day","month","year"]
dates["month"]=pd.to_datetime(dates["month"],format="%B")
dates["month"]=dates["month"].dt.month
dates = dates.fillna(9)
dates.astype({'day':'int64','year':'int64'}).dtypes
dates

     day  month  year
0     20      9  2019
1     20      9  2019
2     20      9  2019
3     20      9  2019
4     20      9  2019
...   ..    ...   ...
2428   5      5  2018
2429   5      5  2018
2430   5      5  2018
2431   5      5  2018
2432   5      5  2018

[2433 rows x 3 columns]

In [15]:
merger_dates_df = pd.merge(encoded_df, dates, left_index=True, right_index=True)
df = merger_dates_df.drop(columns=['Competition Date'])

In [16]:
df

,StartNr,Rank,Quali_Tops,Quali_Zones,Quali_Atempts_Tops,Quali_Attempts_Zones,semi_Tops,semi_Zones,semi_Atempts_Tops,semi_Attempts_Zones,...,Nation_THA,Nation_TPE,Nation_TUR,Nation_UKR,Nation_USA,Nation_VEN,competition_id,day,month,year
0,15.0,1,6,7,9,9,3,4,5,5,...,0,0,0,0,0,0,1,20,9,2019
1,27.0,2,4,8,8,4,3,4,5,5,...,0,0,0,0,0,0,1,20,9,2019
2,48.0,3,6,7,8,9,3,3,4,3,...,0,0,0,0,0,0,1,20,9,2019
3,17.0,4,4,6,6,9,2,3,8,9,...,0,0,0,0,0,0,1,20,9,2019
4,39.0,5,4,6,6,1,3,4,7,6,...,0,0,0,0,0,0,1,20,9,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2428,44.0,13,1,2,3,6,0,0,0,0,...,0,0,0,0,0,0,16,5,5,2018
2429,45.0,14,1,2,4,7,0,0,0,0,...,0,0,0,0,0,0,16,5,5,2018
2430,81.0,15,1,2,5,7,0,0,0,0,...,0,0,0,0,0,0,16,5,5,2018
2431,10.0,16,0,2,0,5,0,0,0,0,...,0,0,0,0,0,0,16,5,5,2018
2432,137.0,17,0,1,0,2,0,0,0,0,...,0,0,0,0,0,0,16,5,5,2018

In [17]:
import numpy as np
 
mask = np.column_stack([encoded_df['Competition Date'].str.contains(r"March", na=False) for col in encoded_df])
encoded_df.loc[mask.any(axis=1)]

,Competition Date,StartNr,Rank,Quali_Tops,Quali_Zones,Quali_Atempts_Tops,Quali_Attempts_Zones,semi_Tops,semi_Zones,semi_Atempts_Tops,...,Nation_SUI,Nation_SVK,Nation_SWE,Nation_THA,Nation_TPE,Nation_TUR,Nation_UKR,Nation_USA,Nation_VEN,competition_id
1259,9 - 10 March 2019,201.0,1,0,4,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,7
1260,9 - 10 March 2019,214.0,2,0,3,0,4,0,0,0,...,0,0,0,0,1,0,0,0,0,7
1261,9 - 10 March 2019,222.0,3,0,3,0,6,0,0,0,...,0,0,0,1,0,0,0,0,0,7
1262,9 - 10 March 2019,215.0,4,0,2,0,3,0,0,0,...,0,0,0,0,0,0,0,0,0,7
1263,9 - 10 March 2019,219.0,5,0,1,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,7
1264,9 - 10 March 2019,208.0,6,8,8,9,8,4,4,4,...,0,0,0,0,0,0,0,0,0,7
1265,9 - 10 March 2019,211.0,7,8,8,1,10,3,4,9,...,0,0,0,0,0,0,0,0,0,7
1266,9 - 10 March 2019,216.0,8,5,6,9,7,3,4,1,...,0,0,0,0,0,0,0,0,0,7
1267,9 - 10 March 2019,207.0,9,6,6,1,7,3,4,9,...,0,0,0,0,0,0,0,0,0,7
1268,9 - 10 March 2019,202.0,10,7,8,9,9,4,4,6,...,0,0,0,0,0,0,0,0,0,7
1269,9 - 10 March 2019,220.0,11,6,7,1,8,3,4,8,...,0,0,0,0,0,0,0,0,0,7
1270,9 - 10 March 2019,210.0,12,6,8,1,9,2,4,4,...,0,0,0,0,0,0,0,0,0,7
1271,9 - 10 March 2019,221.0,13,7,8,9,8,2,4,6,...,0,0,0,0,0,0,0,0,0,7
1272,9 - 10 March 2019,213.0,14,5,6,5,6,2,3,3,...,0,0,0,0,0,0,0,0,0,7
1273,9 - 10 March 2019,206.0,15,5,7,7,8,1,4,1,...,0,0,0,0,0,0,0,0,0,7
1274,9 - 10 March 2019,212.0,16,8,8,1,8,1,4,2,...,0,0,0,0,0,0,0,0,0,7
1275,9 - 10 March 2019,203.0,17,5,8,7,0,1,4,2,...,0,0,0,0,0,0,0,0,0,7
1276,9 - 10 March 2019,209.0,18,6,7,6,7,1,4,2,...,0,0,0,0,0,0,0,0,0,7
1277,9 - 10 March 2019,218.0,19,6,8,1,10,1,4,2,...,0,0,0,0,0,0,0,0,0,7
1278,9 - 10 March 2019,217.0,20,5,7,8,0,1,4,5,...,0,0,0,0,0,0,0,0,0,7
1279,9 - 10 March 2019,204.0,21,5,7,1,7,1,3,1,...,0,0,0,0,0,0,0,0,0,7
1280,9 - 10 March 2019,205.0,22,7,8,1,9,1,3,2,...,0,0,0,0,0,0,0,0,0,7
1281,9 - 10 March 2019,114.0,1,5,6,1,6,0,4,0,...,0,0,0,0,0,0,0,0,0,7
1282,9 - 10 March 2019,121.0,2,7,8,1,9,0,4,0,...,0,0,0,0,0,0,0,0,0,7
1283,9 - 10 March 2019,123.0,3,5,7,7,8,0,4,0,...,0,0,0,0,0,0,0,0,0,7
1284,9 - 10 March 2019,108.0,4,5,6,1,7,0,0,0,...,0,0,0,0,0,0,0,0,0,7
1285,9 - 10 March 2019,120.0,5,4,7,6,8,0,0,0,...,0,0,0,0,0,0,0,0,0,7
1286,9 - 10 March 2019,103.0,6,4,6,4,6,0,0,0,...,0,0,0,0,0,0,0,0,0,7
1287,9 - 10 March 2019,112.0,7,4,6,5,7,0,0,0,...,0,0,0,0,1,0,0,0,0,7
1288,9 - 10 March 2019,122.0,8,4,6,8,7,0,0,0,...,0,0,0,0,0,0,0,0,0,7
1289,9 - 10 March 2019,119.0,9,4,6,9,8,0,0,0,...,0,0,0,0,0,0,0,0,0,7
1290,9 - 10 March 2019,113.0,10,4,5,7,9,0,0,0,...,0,0,0,0,0,0,0,0,0,7
1291,9 - 10 March 2019,117.0,11,4,5,8,6,0,0,0,...,0,0,0,0,0,0,0,0,0,7
1292,9 - 10 March 2019,102.0,12,4,4,9,4,0,0,0,...,0,0,0,0,0,0,0,0,0,7
1293,9 - 10 March 2019,115.0,13,3,8,6,4,0,0,0,...,0,0,0,0,0,0,0,0,0,7
1294,9 - 10 March 2019,109.0,14,3,7,5,9,0,0,0,...,0,0,0,0,0,0,0,0,0,7
1295,9 - 10 March 2019,101.0,15,3,6,3,6,0,0,0,...,0,0,0,0,0,0,0,0,0,7
1296,9 - 10 March 2019,124.0,16,3,6,4,6,0,0,0,...,0,0,0,0,1,0,0,0,0,7
1297,9 - 10 March 2019,106.0,17,3,6,5,7,0,0,0,...,0,0,0,0,0,0,0,0,0,7
1298,9 - 10 March 2019,116.0,18,3,6,5,0,0,0,0,...,0,0,0,0,0,0,0,0,0,7
1299,9 - 10 March 2019,118.0,19,3,6,6,7,0,0,0,...,0,0,0,0,0,0,0,0,0,7
1300,9 - 10 March 2019,104.0,20,3,5,3,6,0,0,0,...,0,0,0,0,0,0,0,0,0,7
1301,9 - 10 March 2019,126.0,21,2,7,2,9,0,0,0,...,0,0,0,0,0,0,0,0,0,7
1302,9 - 10 March 2019,110.0,22,2,6,2,6,0,0,0,...,0,0,0,0,0,0,0,0,0,7
1303,9 - 10 March 2019,127.0,23,2,6,2,8,0,0,0,...,0,0,0,0,0,0,0,0,0,7
1304,9 - 10 March 2019,111.0,23,2,6,2,3,0,0,0,...,0,0,0,0,0,0,0,0,0,7
1305,9 - 10 March 2019,105.0,25,2,6,3,7,0,0,0,...,0,0,0,0,0,0,0,0,0,7
1306,9 - 10 March 2019,107.0,26,2,6,4,8,0,0,0,...,0,0,0,0,0,0,0,0,0,7
1307,9 - 10 March 2019,125.0,27,2,6,4,9,0,0,0,...,0,0,0,0,0,0,0,0,0,7

In [18]:
import numpy as np

# Assume your rank column is named 'rank' in a pandas DataFrame named 'df'
top_n = 6  # Define the number of top ranks you want to set to 1

# Create a new column named 'rank_top' with all values initialized to 0
df['rank_top'] = np.zeros(len(df))

# Set the top 'top_n' ranks to 1 in the 'rank_top' column
df.loc[df['Rank'] <= top_n, 'rank_top'] = 1

In [19]:
df=df.drop(columns=['Rank'])
df

,StartNr,Quali_Tops,Quali_Zones,Quali_Atempts_Tops,Quali_Attempts_Zones,semi_Tops,semi_Zones,semi_Atempts_Tops,semi_Attempts_Zones,Finals_Tops,...,Nation_TPE,Nation_TUR,Nation_UKR,Nation_USA,Nation_VEN,competition_id,day,month,year,rank_top
0,15.0,6,7,9,9,3,4,5,5,3,...,0,0,0,0,0,1,20,9,2019,1.0
1,27.0,4,8,8,4,3,4,5,5,2,...,0,0,0,0,0,1,20,9,2019,1.0
2,48.0,6,7,8,9,3,3,4,3,2,...,0,0,0,0,0,1,20,9,2019,1.0
3,17.0,4,6,6,9,2,3,8,9,1,...,0,0,0,0,0,1,20,9,2019,1.0
4,39.0,4,6,6,1,3,4,7,6,1,...,0,0,0,0,0,1,20,9,2019,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2428,44.0,1,2,3,6,0,0,0,0,0,...,0,0,0,0,0,16,5,5,2018,0.0
2429,45.0,1,2,4,7,0,0,0,0,0,...,0,0,0,0,0,16,5,5,2018,0.0
2430,81.0,1,2,5,7,0,0,0,0,0,...,0,0,0,0,0,16,5,5,2018,0.0
2431,10.0,0,2,0,5,0,0,0,0,0,...,0,0,0,0,0,16,5,5,2018,0.0
2432,137.0,0,1,0,2,0,0,0,0,0,...,0,0,0,0,0,16,5,5,2018,0.0

In [29]:
df = df.dropna()
df.columns

Index(['StartNr', 'Quali_Tops', 'Quali_Zones', 'Quali_Atempts_Tops',
       'Quali_Attempts_Zones', 'semi_Tops', 'semi_Zones', 'semi_Atempts_Tops',
       'semi_Attempts_Zones', 'Finals_Tops', 'Finals_Zones',
       'Final_Atempts_Tops', 'Final_Attempts_Zones', 'competitor_id',
       'Nation_ARG', 'Nation_AUS', 'Nation_AUT', 'Nation_BEL', 'Nation_BLR',
       'Nation_BRA', 'Nation_BUL', 'Nation_CAM', 'Nation_CAN', 'Nation_CHI',
       'Nation_CHN', 'Nation_CRO', 'Nation_CZE', 'Nation_DEN', 'Nation_ECU',
       'Nation_ESP', 'Nation_FIN', 'Nation_FRA', 'Nation_GBR', 'Nation_GER',
       'Nation_GRE', 'Nation_GUA', 'Nation_HKG', 'Nation_HUN', 'Nation_INA',
       'Nation_IND', 'Nation_IRI', 'Nation_IRL', 'Nation_ISR', 'Nation_ITA',
       'Nation_JPN', 'Nation_KAZ', 'Nation_KGZ', 'Nation_KOR', 'Nation_LAT',
       'Nation_LTU', 'Nation_LUX', 'Nation_MAC', 'Nation_MAS', 'Nation_MEX',
       'Nation_NED', 'Nation_NEP', 'Nation_NOR', 'Nation_NZL', 'Nation_PER',
       'Nation_PHI', 'Nation_POL', 'Nation_POR', 'Nation_ROU', 'Nation_RSA',
       'Nation_RUS', 'Nation_SGP', 'Nation_SLO', 'Nation_SRB', 'Nation_SUI',
       'Nation_SVK', 'Nation_SWE', 'Nation_THA', 'Nation_TPE', 'Nation_TUR',
       'Nation_UKR', 'Nation_USA', 'Nation_VEN', 'competition_id', 'day',
       'month', 'year', 'rank_top'],
      dtype='object')

In [30]:
encoded = pd.get_dummies(df, columns=["competition_id","year","competitor_id","month"])
encoded

,StartNr,Quali_Tops,Quali_Zones,Quali_Atempts_Tops,Quali_Attempts_Zones,semi_Tops,semi_Zones,semi_Atempts_Tops,semi_Attempts_Zones,Finals_Tops,...,competitor_id_1126,competitor_id_1127,month_3,month_4,month_5,month_6,month_7,month_8,month_9,month_11
0,15.0,6,7,9,9,3,4,5,5,3,...,0,0,0,0,0,0,0,0,1,0
1,27.0,4,8,8,4,3,4,5,5,2,...,0,0,0,0,0,0,0,0,1,0
2,48.0,6,7,8,9,3,3,4,3,2,...,0,0,0,0,0,0,0,0,1,0
3,17.0,4,6,6,9,2,3,8,9,1,...,0,0,0,0,0,0,0,0,1,0
4,39.0,4,6,6,1,3,4,7,6,1,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2428,44.0,1,2,3,6,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2429,45.0,1,2,4,7,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2430,81.0,1,2,5,7,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2431,10.0,0,2,0,5,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2432,137.0,0,1,0,2,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [31]:
# Split our preprocessed data into our features and target arrays
y = encoded.rank_top.values
X = encoded.drop(columns="rank_top").values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=1, stratify=y)

In [32]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [33]:
len(X_train_scaled[0])

1217

In [34]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  51
hidden_nodes_layer2 = 76
hidden_nodes_layer3 = 91
hidden_nodes_layer4 = 6




nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 51)                62118

 dense_7 (Dense)             (None, 76)                3952

 dense_8 (Dense)             (None, 76)                5852

 dense_9 (Dense)             (None, 91)                7007

 dense_10 (Dense)            (None, 6)                 552

 dense_11 (Dense)            (None, 1)                 7

=================================================================
Total params: 79,488
Trainable params: 79,488
Non-trainable params: 0
_________________________________________________________________

In [35]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [36]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
53/53 [==============================] - 1s 3ms/step - loss: 0.5105 - accuracy: 0.7896
Epoch 2/100
53/53 [==============================] - 0s 4ms/step - loss: 0.3314 - accuracy: 0.8489
Epoch 3/100
53/53 [==============================] - 0s 7ms/step - loss: 0.2240 - accuracy: 0.8645
Epoch 4/100
53/53 [==============================] - 0s 5ms/step - loss: 0.1441 - accuracy: 0.9424
Epoch 5/100
53/53 [==============================] - 0s 4ms/step - loss: 0.1001 - accuracy: 0.9622
Epoch 6/100
53/53 [==============================] - 0s 4ms/step - loss: 0.0735 - accuracy: 0.9694
Epoch 7/100
53/53 [==============================] - 0s 4ms/step - loss: 0.0400 - accuracy: 0.9868
Epoch 8/100
53/53 [==============================] - 0s 4ms/step - loss: 0.0330 - accuracy: 0.9868
Epoch 9/100
53/53 [==============================] - 0s 4ms/step - loss: 0.0176 - accuracy: 0.9952
Epoch 10/100
53/53 [==============================] - 0s 4ms/step - loss: 0.0101 - accuracy: 0.9964
Epoch 11/100
53/53 [==============================] - 0s 4ms/step - loss: 0.0068 - accuracy: 0.9970
Epoch 12/100
53/53 [==============================] - 0s 3ms/step - loss: 0.0077 - accuracy: 0.9982
Epoch 13/100
53/53 [==============================] - 0s 3ms/step - loss: 0.0017 - accuracy: 0.9994
Epoch 14/100
53/53 [==============================] - 0s 3ms/step - loss: 0.0013 - accuracy: 0.9994
Epoch 15/100
53/53 [==============================] - 0s 5ms/step - loss: 7.1324e-04 - accuracy: 1.0000
Epoch 16/100
53/53 [==============================] - 0s 3ms/step - loss: 4.3955e-04 - accuracy: 1.0000
Epoch 17/100
53/53 [==============================] - 0s 3ms/step - loss: 5.2889e-04 - accuracy: 1.0000
Epoch 18/100
53/53 [==============================] - 0s 3ms/step - loss: 0.0020 - accuracy: 0.9994
Epoch 19/100
53/53 [==============================] - 0s 4ms/step - loss: 4.0605e-04 - accuracy: 1.0000
Epoch 20/100
53/53 [==============================] - 0s 3ms/step - loss: 3.1726e-04 - accuracy: 1.0000
Epoch 21/100
53/53 [==============================] - 0s 4ms/step - loss: 1.9085e-04 - accuracy: 1.0000
Epoch 22/100
53/53 [==============================] - 0s 4ms/step - loss: 1.3756e-04 - accuracy: 1.0000
Epoch 23/100
53/53 [==============================] - 0s 6ms/step - loss: 1.1244e-04 - accuracy: 1.0000
Epoch 24/100
53/53 [==============================] - 0s 4ms/step - loss: 9.3883e-05 - accuracy: 1.0000
Epoch 25/100
53/53 [==============================] - 0s 5ms/step - loss: 8.0268e-05 - accuracy: 1.0000
Epoch 26/100
53/53 [==============================] - 0s 5ms/step - loss: 6.9640e-05 - accuracy: 1.0000
Epoch 27/100
53/53 [==============================] - 0s 5ms/step - loss: 6.1671e-05 - accuracy: 1.0000
Epoch 28/100
53/53 [==============================] - 0s 3ms/step - loss: 5.4682e-05 - accuracy: 1.0000
Epoch 29/100
53/53 [==============================] - 0s 4ms/step - loss: 4.8859e-05 - accuracy: 1.0000
Epoch 30/100
53/53 [==============================] - 0s 3ms/step - loss: 4.3847e-05 - accuracy: 1.0000
Epoch 31/100
53/53 [==============================] - 0s 3ms/step - loss: 3.9765e-05 - accuracy: 1.0000
Epoch 32/100
53/53 [==============================] - 0s 3ms/step - loss: 3.5941e-05 - accuracy: 1.0000
Epoch 33/100
53/53 [==============================] - 0s 4ms/step - loss: 3.2912e-05 - accuracy: 1.0000
Epoch 34/100
53/53 [==============================] - 0s 4ms/step - loss: 3.0143e-05 - accuracy: 1.0000
Epoch 35/100
53/53 [==============================] - 0s 3ms/step - loss: 2.7552e-05 - accuracy: 1.0000
Epoch 36/100
53/53 [==============================] - 0s 4ms/step - loss: 2.5362e-05 - accuracy: 1.0000
Epoch 37/100
53/53 [==============================] - 0s 2ms/step - loss: 2.3618e-05 - accuracy: 1.0000
Epoch 38/100
53/53 [==============================] - 0s 4ms/step - loss: 2.2065e-05 - accuracy: 1.0000
Epoch 39/100
53/53 [==============================] - 0s 5ms/step - loss: 2.0350e-05 - accuracy: 1.0000
Epoch 40/100
53/53 [==============================] - 0s 3ms/step - loss: 1.8942e-05 - accuracy: 1.0000
Epoch 41/100
53/53 [==============================] - 0s 4ms/step - loss: 1.7583e-05 - accuracy: 1.0000
Epoch 42/100
53/53 [==============================] - 0s 5ms/step - loss: 1.6559e-05 - accuracy: 1.0000
Epoch 43/100
53/53 [==============================] - 0s 3ms/step - loss: 1.5425e-05 - accuracy: 1.0000
Epoch 44/100
53/53 [==============================] - 0s 6ms/step - loss: 1.4540e-05 - accuracy: 1.0000
Epoch 45/100
53/53 [==============================] - 0s 5ms/step - loss: 1.3635e-05 - accuracy: 1.0000
Epoch 46/100
53/53 [==============================] - 0s 3ms/step - loss: 1.2838e-05 - accuracy: 1.0000
Epoch 47/100
53/53 [==============================] - 0s 4ms/step - loss: 1.2163e-05 - accuracy: 1.0000
Epoch 48/100
53/53 [==============================] - 0s 4ms/step - loss: 1.1402e-05 - accuracy: 1.0000
Epoch 49/100
53/53 [==============================] - 0s 3ms/step - loss: 1.0769e-05 - accuracy: 1.0000
Epoch 50/100
53/53 [==============================] - 0s 4ms/step - loss: 1.0141e-05 - accuracy: 1.0000
Epoch 51/100
53/53 [==============================] - 0s 5ms/step - loss: 9.5803e-06 - accuracy: 1.0000
Epoch 52/100
53/53 [==============================] - 0s 4ms/step - loss: 9.0789e-06 - accuracy: 1.0000
Epoch 53/100
53/53 [==============================] - 0s 4ms/step - loss: 8.6020e-06 - accuracy: 1.0000
Epoch 54/100
53/53 [==============================] - 0s 9ms/step - loss: 8.1316e-06 - accuracy: 1.0000
Epoch 55/100
53/53 [==============================] - 0s 3ms/step - loss: 7.7307e-06 - accuracy: 1.0000
Epoch 56/100
53/53 [==============================] - 0s 4ms/step - loss: 7.3495e-06 - accuracy: 1.0000
Epoch 57/100
53/53 [==============================] - 0s 5ms/step - loss: 6.9840e-06 - accuracy: 1.0000
Epoch 58/100
53/53 [==============================] - 0s 4ms/step - loss: 6.6149e-06 - accuracy: 1.0000
Epoch 59/100
53/53 [==============================] - 0s 4ms/step - loss: 6.2938e-06 - accuracy: 1.0000
Epoch 60/100
53/53 [==============================] - 0s 3ms/step - loss: 5.9912e-06 - accuracy: 1.0000
Epoch 61/100
53/53 [==============================] - 0s 3ms/step - loss: 5.7039e-06 - accuracy: 1.0000
Epoch 62/100
53/53 [==============================] - 0s 4ms/step - loss: 5.4315e-06 - accuracy: 1.0000
Epoch 63/100
53/53 [==============================] - 0s 6ms/step - loss: 5.1813e-06 - accuracy: 1.0000
Epoch 64/100
53/53 [==============================] - 0s 3ms/step - loss: 4.9517e-06 - accuracy: 1.0000
Epoch 65/100
53/53 [==============================] - 0s 2ms/step - loss: 4.7205e-06 - accuracy: 1.0000
Epoch 66/100
53/53 [==============================] - 0s 4ms/step - loss: 4.5324e-06 - accuracy: 1.0000
Epoch 67/100
53/53 [==============================] - 0s 2ms/step - loss: 4.3326e-06 - accuracy: 1.0000
Epoch 68/100
53/53 [==============================] - 0s 4ms/step - loss: 4.1295e-06 - accuracy: 1.0000
Epoch 69/100
53/53 [==============================] - 0s 4ms/step - loss: 3.9632e-06 - accuracy: 1.0000
Epoch 70/100
53/53 [==============================] - 0s 4ms/step - loss: 3.7977e-06 - accuracy: 1.0000
Epoch 71/100
53/53 [==============================] - 0s 4ms/step - loss: 3.6308e-06 - accuracy: 1.0000
Epoch 72/100
53/53 [==============================] - 0s 4ms/step - loss: 3.4822e-06 - accuracy: 1.0000
Epoch 73/100
53/53 [==============================] - 0s 7ms/step - loss: 3.3437e-06 - accuracy: 1.0000
Epoch 74/100
53/53 [==============================] - 0s 5ms/step - loss: 3.2098e-06 - accuracy: 1.0000
Epoch 75/100
53/53 [==============================] - 0s 3ms/step - loss: 3.0819e-06 - accuracy: 1.0000
Epoch 76/100
53/53 [==============================] - 0s 4ms/step - loss: 2.9564e-06 - accuracy: 1.0000
Epoch 77/100
53/53 [==============================] - 0s 3ms/step - loss: 2.8378e-06 - accuracy: 1.0000
Epoch 78/100
53/53 [==============================] - 0s 3ms/step - loss: 2.7367e-06 - accuracy: 1.0000
Epoch 79/100
53/53 [==============================] - 0s 3ms/step - loss: 2.6205e-06 - accuracy: 1.0000
Epoch 80/100
53/53 [==============================] - 0s 3ms/step - loss: 2.5169e-06 - accuracy: 1.0000
Epoch 81/100
53/53 [==============================] - 0s 4ms/step - loss: 2.4232e-06 - accuracy: 1.0000
Epoch 82/100
53/53 [==============================] - 0s 4ms/step - loss: 2.3326e-06 - accuracy: 1.0000
Epoch 83/100
53/53 [==============================] - 0s 2ms/step - loss: 2.2416e-06 - accuracy: 1.0000
Epoch 84/100
53/53 [==============================] - 0s 4ms/step - loss: 2.1595e-06 - accuracy: 1.0000
Epoch 85/100
53/53 [==============================] - 0s 5ms/step - loss: 2.0745e-06 - accuracy: 1.0000
Epoch 86/100
53/53 [==============================] - 0s 5ms/step - loss: 1.9951e-06 - accuracy: 1.0000
Epoch 87/100
53/53 [==============================] - 0s 5ms/step - loss: 1.9258e-06 - accuracy: 1.0000
Epoch 88/100
53/53 [==============================] - 0s 3ms/step - loss: 1.8539e-06 - accuracy: 1.0000
Epoch 89/100
53/53 [==============================] - 0s 3ms/step - loss: 1.7845e-06 - accuracy: 1.0000
Epoch 90/100
53/53 [==============================] - 0s 5ms/step - loss: 1.7251e-06 - accuracy: 1.0000
Epoch 91/100
53/53 [==============================] - 0s 5ms/step - loss: 1.6592e-06 - accuracy: 1.0000
Epoch 92/100
53/53 [==============================] - 0s 5ms/step - loss: 1.5921e-06 - accuracy: 1.0000
Epoch 93/100
53/53 [==============================] - 0s 5ms/step - loss: 1.5336e-06 - accuracy: 1.0000
Epoch 94/100
53/53 [==============================] - 0s 4ms/step - loss: 1.4793e-06 - accuracy: 1.0000
Epoch 95/100
53/53 [==============================] - 0s 4ms/step - loss: 1.4269e-06 - accuracy: 1.0000
Epoch 96/100
53/53 [==============================] - 0s 4ms/step - loss: 1.3769e-06 - accuracy: 1.0000
Epoch 97/100
53/53 [==============================] - 0s 5ms/step - loss: 1.3174e-06 - accuracy: 1.0000
Epoch 98/100
53/53 [==============================] - 0s 4ms/step - loss: 1.2702e-06 - accuracy: 1.0000
Epoch 99/100
53/53 [==============================] - 0s 3ms/step - loss: 1.2254e-06 - accuracy: 1.0000
Epoch 100/100
53/53 [==============================] - 0s 6ms/step - loss: 1.1773e-06 - accuracy: 1.0000

In [37]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

18/18 - 0s - loss: 2.5334 - accuracy: 0.7630 - 181ms/epoch - 10ms/step
Loss: 2.533405303955078, Accuracy: 0.7630161643028259

In [41]:
# Making predictions using the testing data
predictions = nn.predict(X_test_scaled)

18/18 [==============================] - 0s 3ms/step

In [56]:
predictions
predictions = np.round(predictions, 0)
# prediction = [np.round(elem, 0) for elem in predictions]
# prediction
predictions

array([[0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.]], dtype=float32)

In [57]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)

# Calculating the accuracy score
acc_score = accuracy_score(y_test, predictions)

In [58]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          381           92
Actual 1           40           44

Accuracy Score : 0.7630161579892281
Classification Report
              precision    recall  f1-score   support

         0.0       0.90      0.81      0.85       473
         1.0       0.32      0.52      0.40        84

    accuracy                           0.76       557
   macro avg       0.61      0.66      0.63       557
weighted avg       0.82      0.76      0.78       557

In [60]:
nn.save('ClimberNeuralNetwork.h5')