In [1]:
import pandas as pd

In [2]:
path = "./resources/boulder_results.csv"
df = pd.read_csv(path)
df.head()

,Competition Title,Competition Date,FIRST,LAST,Nation,StartNr,Rank,Qualification,Qualification 1,Qualification 2,Semifinal,Final,Category
0,European Youth Championships (B) - Brixen (ITA...,20 - 22 September 2019,Naile,MEIGNAN,FRA,15.0,1,6T7z99,NaN,NaN,3T4z55,3T4z89,boulder
1,European Youth Championships (B) - Brixen (ITA...,20 - 22 September 2019,Miriam,FOGU,ITA,27.0,2,4T8z814,NaN,NaN,3T4z55,2T4z27,boulder
2,European Youth Championships (B) - Brixen (ITA...,20 - 22 September 2019,Vanda,MICHALKOVA,SVK,48.0,3,6T7z89,NaN,NaN,3T3z43,2T3z23,boulder
3,European Youth Championships (B) - Brixen (ITA...,20 - 22 September 2019,Lola,SAUTIER,FRA,17.0,4,4T6z69,NaN,NaN,2T3z89,1T3z38,boulder
4,European Youth Championships (B) - Brixen (ITA...,20 - 22 September 2019,Polina,KULAGINA,RUS,39.0,5,4T6z611,NaN,NaN,3T4z76,1T3z47,boulder

In [3]:
df_no_null=df.dropna(subset=["Qualification"])
df_no_null

,Competition Title,Competition Date,FIRST,LAST,Nation,StartNr,Rank,Qualification,Qualification 1,Qualification 2,Semifinal,Final,Category
0,European Youth Championships (B) - Brixen (ITA...,20 - 22 September 2019,Naile,MEIGNAN,FRA,15.0,1,6T7z99,NaN,NaN,3T4z55,3T4z89,boulder
1,European Youth Championships (B) - Brixen (ITA...,20 - 22 September 2019,Miriam,FOGU,ITA,27.0,2,4T8z814,NaN,NaN,3T4z55,2T4z27,boulder
2,European Youth Championships (B) - Brixen (ITA...,20 - 22 September 2019,Vanda,MICHALKOVA,SVK,48.0,3,6T7z89,NaN,NaN,3T3z43,2T3z23,boulder
3,European Youth Championships (B) - Brixen (ITA...,20 - 22 September 2019,Lola,SAUTIER,FRA,17.0,4,4T6z69,NaN,NaN,2T3z89,1T3z38,boulder
4,European Youth Championships (B) - Brixen (ITA...,20 - 22 September 2019,Polina,KULAGINA,RUS,39.0,5,4T6z611,NaN,NaN,3T4z76,1T3z47,boulder
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9736,European Youth Cup (B) - Graz (AUT) 2018,28 - 29 April 2018,Tomáš,LUKÁŠEK,CZE,307.0,33,1T2z36,NaN,NaN,NaN,NaN,boulder
9737,European Youth Cup (B) - Graz (AUT) 2018,28 - 29 April 2018,Felix Ståhl,WADSTEN,SWE,297.0,34,1T2z47,NaN,NaN,NaN,NaN,boulder
9738,European Youth Cup (B) - Graz (AUT) 2018,28 - 29 April 2018,Hauk Steinsson,LEM,NOR,309.0,35,1T2z57,NaN,NaN,NaN,NaN,boulder
9739,European Youth Cup (B) - Graz (AUT) 2018,28 - 29 April 2018,Christian Phillip,ELIASSEN,NOR,303.0,36,0T2z05,NaN,NaN,NaN,NaN,boulder
9740,European Youth Cup (B) - Graz (AUT) 2018,28 - 29 April 2018,Jan,MACHARACEK,CZE,292.0,37,0T1z02,NaN,NaN,NaN,NaN,boulder

In [4]:
# function to extract scores
def extract_scores(scores):
    tops = []
    zones = []
    attempts_tops = []
    attempts_zones = []

    for score in scores:
        if len(score) == 6:
            tops.append(int(score[0]))
            zones.append(int(score[2]))
            attempts_tops.append(int(score[4]))
            attempts_zones.append(int(score[5]))
        elif len(score) == 7:
            tops.append(int(score[0]))
            zones.append(int(score[2]))
            attempts_tops.append(int(score[4:5]))
            attempts_zones.append(int(score[6:]))
        elif len(score) == 8:
            tops.append(int(score[0]))
            zones.append(int(score[2]))
            attempts_tops.append(int(score[4:5]))
            attempts_zones.append(int(score[6:]))
        elif len(score)== 1:
            tops.append(0)
            zones.append(0)
            attempts_tops.append(0)
            attempts_zones.append(0)
            
        else:
            raise ValueError('Invalid score format')

    df = pd.DataFrame({'Tops': tops, 'Zones': zones, 'Attempts_Tops': attempts_tops, 'Attempts_Zones': attempts_zones})

    return df

In [5]:
quali_list=df_no_null['Qualification'].to_list()
quali_list
scores_df= extract_scores(quali_list)
scores_df.columns = ["Quali_Tops", "Quali_Zones","Quali_Atempts_Tops","Quali_Attempts_Zones"]
scores_df

      Quali_Tops  Quali_Zones  Quali_Atempts_Tops  Quali_Attempts_Zones
0              6            7                   9                     9
1              4            8                   8                     4
2              6            7                   8                     9
3              4            6                   6                     9
4              4            6                   6                     1
...          ...          ...                 ...                   ...
5427           1            2                   3                     6
5428           1            2                   4                     7
5429           1            2                   5                     7
5430           0            2                   0                     5
5431           0            1                   0                     2

[5432 rows x 4 columns]

In [6]:
semi_list=df_no_null['Semifinal'].fillna("0").to_list()
semi_list
semi_scores_df= extract_scores(semi_list)
semi_scores_df.columns = ["semi_Tops", "semi_Zones","semi_Atempts_Tops","semi_Attempts_Zones"]
semi_scores_df

      semi_Tops  semi_Zones  semi_Atempts_Tops  semi_Attempts_Zones
0             3           4                  5                    5
1             3           4                  5                    5
2             3           3                  4                    3
3             2           3                  8                    9
4             3           4                  7                    6
...         ...         ...                ...                  ...
5427          0           0                  0                    0
5428          0           0                  0                    0
5429          0           0                  0                    0
5430          0           0                  0                    0
5431          0           0                  0                    0

[5432 rows x 4 columns]

In [7]:
final_list=df_no_null['Final'].fillna("0").to_list()
final_list
final_scores_df= extract_scores(final_list)
final_scores_df.columns = ["Finals_Tops", "Finals_Zones","Final_Atempts_Tops","Final_Attempts_Zones"]
final_scores_df

      Finals_Tops  Finals_Zones  Final_Atempts_Tops  Final_Attempts_Zones
0               3             4                   8                     9
1               2             4                   2                     7
2               2             3                   2                     3
3               1             3                   3                     8
4               1             3                   4                     7
...           ...           ...                 ...                   ...
5427            0             0                   0                     0
5428            0             0                   0                     0
5429            0             0                   0                     0
5430            0             0                   0                     0
5431            0             0                   0                     0

[5432 rows x 4 columns]

In [8]:
merged_df = df_no_null.merge(scores_df,left_index=True, right_index=True)
merged_df = merged_df.merge(semi_scores_df,left_index=True, right_index=True)
merged_df = merged_df.merge(final_scores_df,left_index=True, right_index=True)

In [12]:
merged_df=merged_df.drop(columns=['Qualification 1','Qualification 2'])

KeyError: "['Qualification 1' 'Qualification 2'] not found in axis"

In [13]:
merged_df

,Competition Title,Competition Date,FIRST,LAST,Nation,StartNr,Rank,Qualification,Semifinal,Final,...,Quali_Atempts_Tops,Quali_Attempts_Zones,semi_Tops,semi_Zones,semi_Atempts_Tops,semi_Attempts_Zones,Finals_Tops,Finals_Zones,Final_Atempts_Tops,Final_Attempts_Zones
0,European Youth Championships (B) - Brixen (ITA...,20 - 22 September 2019,Naile,MEIGNAN,FRA,15.0,1,6T7z99,3T4z55,3T4z89,...,9,9,3,4,5,5,3,4,8,9
1,European Youth Championships (B) - Brixen (ITA...,20 - 22 September 2019,Miriam,FOGU,ITA,27.0,2,4T8z814,3T4z55,2T4z27,...,8,4,3,4,5,5,2,4,2,7
2,European Youth Championships (B) - Brixen (ITA...,20 - 22 September 2019,Vanda,MICHALKOVA,SVK,48.0,3,6T7z89,3T3z43,2T3z23,...,8,9,3,3,4,3,2,3,2,3
3,European Youth Championships (B) - Brixen (ITA...,20 - 22 September 2019,Lola,SAUTIER,FRA,17.0,4,4T6z69,2T3z89,1T3z38,...,6,9,2,3,8,9,1,3,3,8
4,European Youth Championships (B) - Brixen (ITA...,20 - 22 September 2019,Polina,KULAGINA,RUS,39.0,5,4T6z611,3T4z76,1T3z47,...,6,1,3,4,7,6,1,3,4,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5427,European Youth Cup (B) - Soure (POR) 2018,5 - 6 May 2018,solene,MOREAU,FRA,44.0,13,5T8z510,NaN,NaN,...,3,6,0,0,0,0,0,0,0,0
5428,European Youth Cup (B) - Soure (POR) 2018,5 - 6 May 2018,Lucie,VAILLANT BULTEL,FRA,45.0,14,5T7z99,NaN,NaN,...,4,7,0,0,0,0,0,0,0,0
5429,European Youth Cup (B) - Soure (POR) 2018,5 - 6 May 2018,Helena,WALTZ,GER,81.0,15,5T7z1111,NaN,NaN,...,5,7,0,0,0,0,0,0,0,0
5430,European Youth Cup (B) - Soure (POR) 2018,5 - 6 May 2018,Marie,COLOT,BEL,10.0,16,5T6z98,NaN,NaN,...,0,5,0,0,0,0,0,0,0,0
5431,European Youth Cup (B) - Soure (POR) 2018,5 - 6 May 2018,Ingrid,KINDLIHAGEN,NOR,137.0,17,5T6z1311,NaN,NaN,...,0,2,0,0,0,0,0,0,0,0

In [14]:
merged_df.to_csv("./resources/merged_df.csv")